<section class="author-archive">
  <div class="container">
    <h1>Angular Application Collections</h1>

    <ol class="filters">
      @for(categories of categoryList; track categories) {
      <li [class]="selectedCategory == categories ? 'active' : ''" (click)="updateSelectedCategory(categories)">
        <label [for]="categories">{{categories}}</label>
      </li>
      }
    </ol>
    <ol class="posts">
      @for(collection of collectionList; track collection.name) {
      <li class="post" *ngIf="collection.dataCategory.includes(selectedCategory) || selectedCategory == 'All'">
        <article>
          <figure>
            <img [src]="collection.imageSrc" alt="">
            <figcaption>
              <ol class="post-categories">
                @for(category of collection.dataCategory; track category) {
                <li>
                  <a href="">{{category}}</a>
                </li>
                }
              </ol>
              <h2 class="post-title">
                <a target="_blank">{{collection.name}}
                </a>
              </h2>
            </figcaption>
          </figure>
        </article>
      </li>
      }
      <div *ngIf="isParentAccess">
        <p id="parent" [innerHTML]="termsProp"></p>
      </div>
    </ol>
  </div>
</section>